/* Add your existing styles here */

body {
    background-color: #f8f9fa;
    color: #495057;
}

.container {
    max-width: 1200px;
}

.jumbotron {
    background-color: #007bff;
    color: #fff;
}

#left-column {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}

#searchBtn, #clearBtn {
    width: 100%;
}

#recent-searches {
    background: none;
    color: #007bff;
    font-style: bold;
}

#presets button {
    width: 100%;
}

#Austin, #Chicago, #New, #Orlando, #San, #Seattle, #Denver, #Atlanta {
    width: 100%;
}
